.square-box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  font-size: xx-large;
  border: 1px solid black;
}
.square-box-grid {
  display: flex;
  flex-wrap: wrap;
  width: 310px;
}

.app {
  top: 50%;
  left: 50%;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
}
.red{
  background-color: red;
}.lightgray{
  background-color: lightgray;
}
.yellowgreen{
  background-color: yellowgreen;
}

.header {
  width: 266px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color:  #1f97c7;
  color: white;
  transition: all 0.6s ease-in-out;
}

.title {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: translateY(20px);
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.selected {
  transform: translateY(-20px);
}

